.about-hospital
{
    display: flex;
    gap: 0 20px;
}
.hospital-text
{
    font-size: 18px;
    font-weight: 700;
    width: 341px;
    color: var(--Twitter-color);
    text-transform: uppercase;
    margin-bottom: 8px;
}
.hospital-title
{
    font-family: "Yeseva One", serif;
    font-size: 48px;
    font-weight: 600;
    color: var(--Signal-blue);
    width: 446px;
    margin-bottom: 24px;
}
.hospital-list
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 40px;
    margin-bottom: 32px;
}
.hospital-item
{
    display: flex;
    align-items: center;
    gap: 0 10px;
}
.hospital-item-text
{
    font-size: 18px;
    color: black;
    width: 202px;
}
.hospital_passion
{
    width: 512px;
    margin-bottom: 16px;
}