.section_services 
{
    background-image: url(../../../images/services/services-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 305px;
    margin-bottom: 64px;
}
